mixin article(articleTitle)
    // article-list
    article.article--list
        h2
            a(href="article.html",title=articleTitle)=articleTitle

mixin comment(avatar,name,comment,date,sub)
    // comment-item
    if sub
        .comment-item.comment-sub
            .comment-author
                .author-avatar
                    img(src=avatar)
                .author-meta
                    span
                        =name
                    a(href="")=date
                    a(href="") Reply
                .clear
            .comment
                p
                    =comment
    else
        .comment-item
            .comment-author
                .author-avatar
                    img(src=avatar)
                .author-meta
                    span
                        =name
                    a(href="")=date
                    a(href="") Reply
                .clear
            .comment
                p
                  =comment
mixin portfolio(picture,name,category)
    // portfolio-item
    .portfolio-item
        .item-preview
            img(src=picture)
        a(href="portfolio-detail.html" title=name)
            .item-hover
                .hover-info
                    .project-name
                        =name
                    .project-category
                        =category



